<% content_for :title, "New Specialization" %>

<div class="container mx-auto px-4 py-8">
  <div class="mb-8">
    <h1 class="text-2xl font-bold">New Specialization</h1>
  </div>

  <%= render 'form' %>
</div>