<% content_for :title, "Edit Student" %>

<div class="container px-4 py-8 mx-auto">
  <div class="max-w-2xl mx-auto">
    <h1 class="mb-6 text-2xl font-bold">Edit Student</h1>

    <div class="px-4 py-5 bg-white shadow sm:rounded-lg sm:p-6">
      <%= form_with(model: [:users, :dean, @student], method: :patch, class: "space-y-6") do |f| %>
        <%= render partial: "form", locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>